/* google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
body {
  background-color: rgb(185, 194, 194);
}
.wrapper {
  width: 100vw;
  max-width: 1000px;
  height: 520px;
  background-color: aliceblue;
  margin: 10vh auto;
  display: flex;
  border-radius: 10px;
}
aside {
  width: 32%;
  height: 96%;
  background-color: #0050fe;
  margin: 10px 0 10px 20px;
  border-radius: 10px;
}
p {
  color: rgb(147, 160, 202);
}
h4 {
  color: white;
  font-size: 9px;
  margin: 40px 0 0 20px;
  letter-spacing: 2px;
  font-weight: normal;
}
h1 {
  color: white;
  font-size: 22px;
  margin: 50px 20px 50px 20px;
  font-weight: normal;
}
aside p {
  font-size: 14px;
  margin: 0 20px 20px 20px;
}
.card {
  width: 85%;
  height: 30%;
  background-color: #0c00f8;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 5px;
}
.card p {
  font-size: 11px;
  color: rgba(245, 245, 245, 0.795);
  line-height: 15px;
  padding-top: 10px;
}
img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
h2 {
  color: white;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
span {
  color: rgb(189, 189, 189);
  font-size: 10px;
  display: block;
  margin-top: 10px;
}
#circle {
  width: 50px;
  height: 20px;
  margin: 0 auto;
}
#circle span {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
form {
  width: 67%;
  height: 96%;
  margin: 0 15px 0 25px;
}
form h1 {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  transition: all 2s;
}
form a {
  color: blue;
  font-weight: bold;
}
form p {
  font-size: 12px;
  color: black;
  margin-top: 10px;
}
#para {
  color: rgb(165, 164, 164);
  margin: 25px 0 10px 0;
}
form label {
  color: rgb(165, 164, 164);

  font-size: 11px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
form .radio {
  width: 200px;
  height: 40px;
  display: inline-block;
  border: 2px solid rgb(183, 180, 180);
  padding: 10px;
  margin-right: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.radio span {
  color: black;
  display: inline-block;
  padding-left: 10px;
}
#email,
#pwd {
  width: 550px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
  color: rgb(165, 164, 164);
}
form .radio:hover,
#email:hover,
#pwd:hover,
select:hover {
  border: none;
  border: 1px solid #0c00f8;
  transition: all 2s;
  animation: pulse;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
form .radio input[type="radio"]:focus,
#email:focus,
#pwd:focus,
select:focus {
  outline: none;
  background-color: rgb(226, 237, 247);
  border: 1px solid #0c00f8;
  animation: pulse;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

input::placeholder {
  padding: 8px;
}
select {
  width: 550px;
  height: 40px;
  border-radius: 5px;
}
#opt {
  color: rgb(165, 164, 164);
  font-size: 12px;
  padding-left: 8px;
}
button {
  font-size: 12px;
  color: white;
  background-color: #0c00f8;
  width: 170px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
}
/*medium  responsiveness */
@media (max-width: 1000px) {
  .wrapper {
    width: 450px;
    height: auto;
    display: block;
    padding: 25px 0;
  }
  aside {
    width: 340px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
  }
  h4 {
    font-size: 18px;
    margin: 10px 0 0 20px;
  }
  h1 {
    margin: 20px;
  }
  form {
    margin: 0 auto;
  }

  form .radio {
    width: 340px;
  }
  #email,
  #pwd {
    width: 340px;
  }
  select {
    width: 340px;
  }
  #opt {
    width: 340px;
  }
  button {
    width: 340px;
  }
}
/*small responsiveness */
@media (max-width: 500px) {
  .wrapper {
    width: 350px;
  }
  aside {
    width: 300px;
    height: 420px;
  }
  form .radio {
    width: 250px;
  }
  #email,
  #pwd {
    width: 250px;
    height: 40px;
  }
  select {
    width: 250px;
    height: 40px;
  }
  #opt {
    width: 250px;
  }
  button {
    width: 250px;
  }
}
